/* AFTER POP UP DESCRIPTIONS - PROJECT "Stack" "Description" */
.proj-stack h5 {
  color:white;
  font-size: 50px;
  font-family: "museo-sans", Arial, Verdana;
  line-height: 72px;
  letter-spacing: -5px;
  float: left;
  position: absolute;
  left:39%;
  text-align: center;
}
.proj-stack p{
  color:white;
  font-size: 20px;
  font-family: "museo-sans", Arial, Verdana; 
  line-height: 30px;
  float: left;
  height: 100px;
  width: 350px;
  position: absolute;
  top: 5%;
  right: 35%;
  text-align: center;
  
}
.proj-des h5{
  color:white;
  font-size: 50px;
  font-family: "museo-sans", Arial, Verdana;
  line-height: 72px;
  letter-spacing: -5px;
  float: left;
  position: absolute;
  top: 30%;
  right:55%;
  text-align: center;
}
.proj-des p{
  position: absolute;
  color:white;
  font-size: 20px;
  font-family: "museo-sans", Arial, Verdana; 
  line-height: 30px;
  height: 100px;
  width: 350px;
  right: 35%;
  bottom: 45%;
  text-align: center;
}

/* iframe image */
.float-right{
  float: left;
  width: 50%;
  }

  .mfp-hide {
    display: none!important;
}

/* POP UP ENDS */

html{
  scroll-behavior: smooth;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
    font-size: 14px!important;
    line-height: 1.42857143!important;
    color: #333!important;
    background-color: #010304!important;
    /* background-color:; */
    
}
a {
  color: aliceblue;
  text-decoration: none!important;
}

/* Jumbotron */
b, strong {
  font-weight: 500;
}

.port_logo{
/* relative - allows for location changes of image */
position: relative; 
top: -5px;

}
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  background-color:black;
  color: #afadad;
  text-align: center;
}
.mainnav{
  background-color: rgba(21,31,33,0.5);
  border-bottom: 1px solid #dedede;
  display: flex;
  font-weight: 100;
  justify-content: space-between;
  padding: 15px 25px;
  position: fixed;
  width: 100%;
  text-transform: uppercase;
  top: 0;
  z-index: 1000;
}
/* linked in, github icons- move to the right*/
.navbar-nav .icon_clicks a {
  position: relative;
  right: -2000%;
}
.mainheader{
  background-image: url("http://getwallpapers.com/wallpaper/full/8/a/2/1354029-beautiful-web-wallpaper-1920x1080-macbook.jpg");
  background-size: cover;
  height: 100vh;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 30px;
}
.btn-primary {
  color: #fff!important;
  background-color: #337ab7!important;
  border-color: #2e6da4!important;
  padding-top: 10px!important;
}

.downlbtn{
    width:200px;
    display:inline-block;
    overflow: auto;
    white-space: nowrap;
    margin:0px auto;
    padding-top: 7px;

  }
.xxx{
    padding-top: 7px;
    display: inline;
}

/* ABOUT ME SECTION */
.aboutme_content{
  /* backg/round-image: url(https://apstra.com/wp-content/uploads/2018/04/background_black_and_blue_abstract_1920x750.jpg); */
  /* background-image: url(https://ak7.picdn.net/shutterstock/videos/30049237/thumb/1.jpg); */
  background-image: url(https://apstra.com/wp-content/uploads/2018/04/background_black_and_blue_abstract_1920x750.jpg);
  background-size:cover;
  height: 100vh;
  width: 220vh;
}
.aboutme{
  padding-top: 150px;
}
/* profile container */
div.profile_div_container {
  position: absolute;
  /* left: -100px; */
  margin:auto;
  right: 34%;
  width: 800px;
  height: 400px;
  /* border: 3px solid red; */
}
.profile_div_container{
  width: 100%;
}
/* content div */
div.right_side {
  float: right;
  left: 150px;
  width: 450px;
  height: 300px;
  padding-top: 20px;
  /* border: 3px solid green; */
}
div.right_side p{
  color:#696969;
  word-wrap: break-word;
  font-size: 20px;
} 
/* Profile img */
div.left_side {
  position: absolute;
  left: auto;
  width: 240px;
  height: 240px;
}   
div.left_side img{
  padding: 15px 15px 15px 15px;
  border-radius: 50%;
  opacity: 0.86;
  filter: alpha(opacity=80);
}
div.left_side img:hover{
  opacity: 0.96;
  filter: alpha(opacity=96);
}
div.left_side .links {
  align-content: center;
  padding-left: 40px;
  padding-right: 40px;
}
div.left_side .links a{
  display: inline-block;
  }
/* git, linked in links */
div.left_side .links a .fa{
  display: inline-block;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  position: relative;
}