
/* HOVERING OVER IMAGE WITH MESSAGE */bar
.projects span{
	display: inline-block;
}

.textWithBlurredBg{
    width:300px;
    position:relative;
 }
  .textWithBlurredBg:hover a img{
    filter:blur(2px) brightness(60%);
    box-shadow:0 0 16px cyan;
  }
   
  .textWithBlurredBg :not(img){
	position:absolute;
    z-index:1;
    top:30%;
    width:100%;
	text-align:center;

    color:#fff;
    opacity:0;
    transition:.3s;
  }

.fa-sign-in{
	font-size: 100px;
}
  
  .textWithBlurredBg h2{
	top:10%;
	padding-left: 10px;
	padding-right: 10px;
  }
  .textWithBlurredBg h4{
    top:25%;
  }  
  .textWithBlurredBg p{
	top:60%;
	padding-left: 70px;
	padding-right: 70px;
  }  
  .textWithBlurredBg:hover :not(img){
    opacity:1;
  }
 

/* CSS - CAROUSAL GALLERY */
.dg-container{
	width: 100%;
	height: 450px;
	position: relative;
}
/* postion the 'sign-in' icon */
.dg-container i{
	left: -10px;
}

.dg-wrapper{
	width: 481px;
	height: 316px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{
	width: 482px;
	height: 316px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: transparent url(../images/browser.png) no-repeat top left;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
	display: block;
	padding: 41px 0px 0px 1px;
}
.dg-wrapper a div{
	font-style: italic;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	font-size: 16px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
}
.dg-wrapper a.dg-center div{
	display: block;
}
.dg-container nav{
	width: 58px;
	position: absolute;
	z-index: 1000;
	bottom: 40px;
	left: 50%;
	margin-left: -29px;
}
.dg-container nav span{
	text-indent: -9000px;
	float: left;
	cursor:pointer;
	width: 24px;
	height: 25px;
	opacity: 0.8;
	background: transparent url(../images/arrows.png) no-repeat top left;
}
.dg-container nav span:hover{
	opacity: 1;
}
.dg-container nav span.dg-next{
	background-position: top right;
	margin-left: 10px;
}